<div class="container-show">
  <div class="main">
    <section class="main_group">
      <h2 class="main_group_title">
        ◯◯さんのマイページ
      </h2>
    </section>
    <section class="main_table">
      <h2 class="main_table_header">
        お気に入り一覧
      </h2>
      <ul class="main_table_list">
        <% current_user.favorite_items.each do |item| %>
          <li>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>