<div class="row">
    <div class="col-2 d-flex justify-content-center left-column">
      <div class="sticky-top sticky-side">
        <%= render"users/info", users:@users %>
      </div>
    </div>
    <div class="col-8">
      <%= render "posts/list", posts: @posts %>
    </div>

    <div class="col-2 right-column">
      <%= render"posts/prefectures", posts:@posts %>
    </div>
  </div>
<%= render "posts/evaluation", posts:@posts %>