/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.sticky-top{
  height : 4rem;
}
.sticky-side{
  top: 4rem;
  height : calc(100vh - 4rem);
}

a {
  text-decoration: none !important;
}

.left-column {
  border-right: solid;
  border-width: 1px;
  font-size: larger;

}

.right-column {
  border-left: solid;
  border-width: 1px;
  padding: 0px 15px 50px;
}

.main-column {
  padding: 0px 15px 50px;
}

.content, .comment-main, .comment-form {
  color: #606060;
}


.action {
  border: 1px solid #FF8C00;
  border-top: 2px solid #FF8C00;;
  padding-left: 0;
  color:  #808080;
}

.action:hover, .content:hover {
  color: #000;
  background-color: #F5F5F5;
}

.prefecture, .info {
  color: #FF8C00;
}

.footer-fixed {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.card {
  color: #606060;
  border: 2px solid #FF8C00;
}

.info {
  padding: 10px 0;
}

.title {
  font-size: x-large;
}
.post-image {
  width: 300px;
}