// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS") here: http://sass-lang.com/

.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}
.image5 {
  background-image: image-url("image5.jpg");
}

#container{
  height: 87vh;
  margin: 7px 0;
  position: relative;
}

.top {
  position: absolute;
  font-size: 30px;
  top: 15%;
  left: 5%;
  z-index: 11;
  font-family: sans-serif;
}